<div *ngIf="booksData">
  <p>Author's name - {{booksData.data.author}}</p>
  <p>Author's birthday - {{booksData.data.birthday}}</p>
  <p>Author's place of birth - {{booksData.data.birthPlace}}</p>
  <table>
    <tr *ngFor="let book of bookList[0]; index as index ">
      <td>{{book.title}}</td>
      <td><img [src]="book.imageUrl"></td>
      <td><a [href]="book.purchaseLink" target="_blank">Purchase</a></td>
      <ng-container *ngIf="!isMobile">
        <td>{{bookList[1][index].title}}{{isMobile}}</td>
        <td><img [src]="bookList[1][index].imageUrl"></td>
        <td><a [href]="bookList[1][index].purchaseLink" target="_blank">Purchase</a></td>
      </ng-container>
    </tr>
  </table>
</div>